R/.DS_Store
design/design.txt
.DS_Store
states/
.Rcpp_dir/
PLAN.txt
PLAN.txt
PLAN.txt
profiles/.Rapp.history
profiles/axis_profile_old.r
/configs/c60/regions
/configs/minimal/regions
/.states
/plots
/core copy
core/export_dialogs_bu.r
tabs/variants/variants_tab_old.r
tabs/rearrangements/rearrangements_tab_old.r
*.o
/configs/c60/regions_old
tools/alntools/alntools
/configs/c60/regions_old2
